{% extends 'base.html'%}
{% block content %}
<h1>Emails: '{{ ping.name | capfirst }}'</h1>
<a class='btn btn-yak btn-sm' href="{% url 'ping' ping.id %}" style="color: {{company.colour_text}}; background-color: {{ company.colour }};">Back to '{{ ping.name | capfirst }}'</a>
{% for question in ping.questions %}
<h3>{{ question.question }}</h3>
    <table class='table table-hover table-bordered'>
        <tr style="color: {{company.colour_text}}; background-color: {{ company.colour }};">
            <th>ID</th><th>Email</th><th>Date Sent</th><th>Answer</th><th>Answer Date</th>{% if admin == True %}<th>Provide Answer</th>{% endif %}
        </tr>
            {% for email in question.responses %}
                {% if email.ping == ping %}
                <tr>
                    <td>{{ email.id }}</td>
                    <td>{{ email.person.email_address }}</td>
                    <td>{{ email.email_date }}</td>
                    <td>
                        {% if email.answer %}
                            {{ email.answer }}
                        {% endif %}
                        {% if email.answer == "Failed to send" %}
                            <hr>
                            <a href="{% url 'email_resend' email.id %}" class='btn btn-sm' style="color: {{company.colour_text}}; background-color: {{ company.colour }};">Resend</a>
                        {% endif %}
                    </td>
                    <td>{% if email.answer_date %}{{ email.answer_date }}{% endif %}</td>
                    {% if admin == True %}
                    <td>
                        {% for choice in email.question.choices_split %}
                            <a href="{% url 'survey_admin' email.id choice %}" class='btn btn-sm' style="color: {{company.colour_text}}; background-color: {{ company.colour }};">{{ choice }}</a>
                        {% endfor %}
                        <a href="{% url 'survey_admin' email.id 'Viewed' %}" class='btn btn-sm' style="color: {{company.colour_text}}; background-color: {{ company.colour }};">Viewed</a>
                        <a href="{% url 'survey_admin' email.id 'None' %}" class='btn btn-sm' style="color: {{company.colour_text}}; background-color: {{ company.colour }};">None</a>
                    </td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
    </table>
{% endfor %}
{% endblock %}