{% extends 'base.html'%}
{% block content %}
<h1>Question Sets</h1>

<table class='table table-striped table-hover table-bordered'>
    <tr><th>Question Set</th><th>Questions</th></tr>
    {% for question_set in question_sets %}
    <tr>
        <td>
            <a href="{% url 'question_set' question_set.id %}">{{ question_set.description }}</a>
        </td>
        <td><ol>{% for question in question_set.questions %}<li>{{ question.question }}</li>{% endfor %}</ol></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}