{% extends 'base.html'%}
{% block content %}
<h1>Companies</h1>

<table class='table table-hover table-bordered'>
    <tr style="background-color: {{ company.colour }};"><th>Company</th><th>Logo and colour</th><th>Staff</th><th>Pings</th><th>Actions</th><th>Delete</th></tr>
    {% for comp in companies %}
        {% if comp.active %}
        <tr {% if comp==>
            <td><a href="{% url 'set_current_company' comp.id %}">{{ comp }}</a></td>
            <td>{% if comp.icon %}<img src="{{ comp.icon.url }}"  height="30">{% endif %}</td>
            <td>{{ comp.people | length }}</td>
            <td>{% for ping in comp.pings %}{{ ping.name | capfirst }}<br>{% endfor %}</td>
            <td>
                <a href="{% url 'set_current_company' comp.id %}" class='btn btn-yak btn-sm' style="background-color: {{ company.colour }};">Select</a>
                <a href="{% url 'company_activate' comp.id %}" class='btn btn-yak btn-sm' style="background-color: {{ company.colour }};">Deactivate</a>
            </td>
            <td><a href="{% url 'company_delete' comp.id %}" class='btn btn-sm btn-danger'>Delete</a></td>
        </tr>
        {% endif %}
    {% endfor %}
    {% for comp in companies %}
        {% if not comp.active %}
        <tr {% if comp==>
            <td><a href="{% url 'set_current_company' comp.id %}">{{ comp }}</a></td>
            <td>{% if comp.icon %}<img src="{{ comp.icon.url }}"  height="30">{% endif %}</td>
            <td>{{ comp.people | length }}</td>
            <td>{% for ping in comp.pings %}{{ ping.name | capfirst }}<br>{% endfor %}</td>
            <td>
                <a href="{% url 'set_current_company' comp.id %}" class='btn btn-yak btn-sm' style="background-color: {{ company.colour }};">Select</a>
                <a href="{% url 'company_activate' comp.id %}" class='btn btn-yak btn-sm' style="background-color: {{ company.colour }};">Activate</a>
            </td>
            <td><a href="{% url 'company_delete' comp.id %}" class='btn btn-sm btn-danger'>Delete</a></td>
        </tr>
        {% endif %}
    {% endfor %}
</table>

<a href="{% url 'company_new' %}" class='btn btn-yak' style="margin-top: 10px; background-color: {{ company.colour }};">New Company</a>

<br><br>
{% endblock %}