{% if user.is_authenticated %}
    <nav class="navbar navbar-light navbar-expand-xl" style="background-color: {{ company.colour }}; color: {{company.colour_text}};">
      <div class="container-fluid">
            <a class="navbar-brand" href="" style="color: {{company.colour_text}};"><b>{{ company }}</b></a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}" style="color: {{company.colour_text}};">All Companies</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'company_edit' %}" style="color: {{company.colour_text}};">Company</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'people' %}" style="color: {{company.colour_text}};">People</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'questions' %}" style="color: {{company.colour_text}};">Questions</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'logic' %}" style="color: {{company.colour_text}};">Logic</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'pings' %}" style="color: {{company.colour_text}};">Pings</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'files' %}" style="color: {{company.colour_text}};">Files</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'list_view' 'to_do' %}" style="color: {{company.colour_text}};">Development</a></li>
            </ul>
            <ul class="nav justify-content-end">
              <li class="nav-item"><a class="nav-link active" href="{% url 'logout' %}">Logout</a></li>
            </ul>
      </div>
    </nav>
{% else %}
    <nav class="navbar navbar-light navbar-expand-xl" style="background-color: {{ company.colour }}; color: {{company.colour_text}};">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}" style="color: {{company.colour_text}};"><b>{{ company.name }}</b></a>
      </div>
    </nav>
{% endif %}
