{% extends 'base.html'%}
{% block content %}

<h1>Pings</h1>

<table class='table table-striped table-hover table-bordered'>
    <tr style="background-color: {{ company.colour }};"><th>Name</th><th>Person/Questions</th><th>Actions</th></tr>
    {% for ping in pings %}
    <tr>
        <td><a href="{% url 'ping' ping.id %}">{{ ping.name }}</a></td>
        <td>
            <ul>
                {% for person_question in ping.person_questions %}
                    <li>{{ person_question }}</li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <a class='btn btn-yak btn-sm' style="background-color: {{ company.colour }};" href="{% url 'ping' ping.id %}">Select Ping</a><br><br>
            <a class='btn btn-yak btn-sm' style="background-color: {{ company.colour }};" href="{% url 'ping_delete' ping.id %}">Delete Ping</a>
        </td>
    </tr>
    {% endfor %}
</table>

<a class='btn btn-yak btn-sm' style="background-color: {{ company.colour }};" href="{% url 'download' %}">Download</a>



{% endblock %}