{% extends 'base.html'%}
{% block content %}

<h1>{{ ping.name | capfirst }}</h1>
<h3>{{ ping.response_rate }}</h3>

<table class='table table-hover table-bordered'>
    <tr style="background-color: {{ company.colour }};"><th>Question</th><th>People</th><th>Responses</th></tr>

    {% for question, person_questions, answers, answer_count in ping.grouped_person_questions_answers %}
    <tr>
        <td>
            {{ question.question }}:
            <ul>
                {% for choice in question.choices_split %}
                    <li>{{ choice }}</li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <ul>
                {% for person_question in person_questions %}
                    <li>{{ person_question.person.name | capfirst}} {% if person_question.answer %}(Responded){% endif %}</li>
                {% endfor %}
            </ul>
        </td>
        <td>
            {% for item, count in answer_count %}
                {{ item }}: {{ count }}<br>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>

<a class='btn btn-yak' href="{% url 'email_send' ping.id %}" style="background-color: {{ company.colour }};">Send emails</a>
<a class='btn btn-yak' href="{% url 'email_view' ping.id %}" style="background-color: {{ company.colour }};">View email details</a>


{% endblock %}