{% extends 'base.html'%}
{% block content %}

<h1>{{ ping.name }}</h1>

<table class='table table-hover table-bordered'>
    <tr style="background-color: #ffe5ea;"><th>Question</th><th>People</th><th>Responses</th></tr>

    {% for question, person_questions in ping.grouped_person_questions %}
    <tr>
        <td>
            {{ question.question }}
            <ul>
                {% for choice in question.choices_split %}
                    <li>{{ choice }}</li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <ul>
                {% for person_question in person_questions %}
                    <li>{{ person_question.person.name }} {% if person_question.answer %}(Responded){% endif %}</li>
                {% endfor %}
            </ul>
        </td>

        <td>
            {{ question.response_rate }}<br>
            {% for answer, count, percentage in question.response_distribution %} {{ answer }}: {{ count }} ({{ percentage }}%)<br>{% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>

<a class='btn btn-yak' href="{% url 'email_send' ping.id %}">Send emails</a>
<a class='btn btn-yak' href="{% url 'email_view' ping.id %}">View email details</a>


{% endblock %}