{% extends 'base.html'%}
{% block content %}

<h1>Create Next Ping</h1>

<table class='table table-hover table-bordered'>
    <tr style="background-color: {{ company.colour }};"><th>First Name</th><th>Last Question</th><th>Last Answer</th><th>Next Question</th></tr>
    {% for person in company.people %}
    <tr>
        <td>{{ person.email_address }}</td>
        <td>{{ person.last_question.question.question }}</td>
        <td>{{ person.last_question.answer }}</td>
        <td>{{ person.next_question_logic }}</td>
    </tr>
    {% endfor %}
</table>
<a class='btn btn-yak btn-sm' href="{% url 'ping_save' %}" style="background-color: {{ company.colour }};">Save Ping</a>


{% endblock %}