{% extends 'base.html'%}
{% block content %}

<h1>Question Library</h1>

<table class='table table-hover table-bordered'>
    <tr style="background-color: {{ company.colour }};"><th>Questions</th><th>Choices</th></tr>
    {% for question in questions %}
    <tr>
        <td>{{ question.question }}</td>
        <td>
            <ul>
                {% for choice in question.choices_split %}
                <li>{{ choice }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
</table>



{% endblock %}