{% extends 'base.html'%}
{% block content %}

<div style='text-align: center;'>

    <h4>
        Please answer the following question with regards to your role and experience in your organisation:
    </h4>
    <br>
    <h1>
        {{ email.question.question }}
    </h1>

    {% for choice in email.question.choices_split %}
        <a href="{% url 'survey_complete' email.id choice %}" class='btn btn-yak' style="background-color: {{ company.colour }};">{{ choice }}</a>
    {% endfor %}
    <br><br>
    <h4>
        Your response is kept confidential. Only the aggregated data is analysed and shared with your organisation.
    </h4>
</div>

{% endblock %}